@page "/"
@using ECF_Quai_Antique.BLL.Interfaces
@using ECF_Quai_Antique.Entities

@inject IUserService userService
@inject IRestaurantService restaurantService
@inject IRestaurantMenuService restaurantMenuService


<div class="page-content">
    <PageTitle>Counter</PageTitle>
    <h1 class="header">Carte du restaurant</h1>
    <div class="restaurant-menu">
        <div class="restaurant-menu-part">
            <h2>Entrées :</h2>
            @foreach (var dish in dishes.Where(d => d.DishType.Id == 1).OrderBy(d => d.Name))
            {
                <DishElement Dish="@dish"></DishElement>
            }
            <h2>Boissons :</h2>
            @foreach (var dish in dishes.Where(d => d.DishType.Id == 4).OrderBy(d => d.Name))
            {
                <DishElement Dish="@dish"></DishElement>
            }
        </div>
        <div>
            <h2>Plats :</h2>
            @foreach (var dish in dishes.Where(d => d.DishType.Id == 2).OrderBy(d => d.Name))
            {
                <DishElement Dish="@dish"></DishElement>
            }
        </div>
        <div class="restaurant-menu-part">
            <h2>Desserts :</h2>
            @foreach (var dish in dishes.Where(d => d.DishType.Id == 3).OrderBy(d => d.Name))
            {
                <DishElement Dish="@dish"></DishElement>
            }
            <h2>Menus :</h2>
            @foreach (var menu in menus)
            {
                <div class="menu-element">
                    <div class="menu-name">@menu.Name</div>
                    @foreach (var formula in menu.Formulas)
                    {
                        <div class="formula">
                            <div>@formula.Description</div>
                            <i>@DisplayFormulaDishTypes(formula.DishTypes)</i>
                            <div>@formula.Price €</div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <ReservationButton Text="Réserver"/>
    <FootHours restaurant="restaurant" />
</div>

@code {
    private List<Dish> dishes = new List<Dish>();
    private List<Menu> menus = new List<Menu>();
    private Restaurant restaurant = new Restaurant();

    protected override void OnInitialized()
    {
        dishes = restaurantMenuService.GetDishes();
        menus = restaurantMenuService.GetMenus();
        restaurant = restaurantService.GetRestaurant();
    }

    private string DisplayFormulaDishTypes(List<DishType> dishTypes)
    {
        string dishTypeToDisplay = "";

        foreach (var dish in dishTypes)
        {
            if (dish == dishTypes.First())
            {
                dishTypeToDisplay += $"{dish.Name}";
            }
            else
            {
                dishTypeToDisplay += $" + {dish.Name}";
            }
        }
            
        return dishTypeToDisplay += ".";
    }
}
